[project]
name = "pre-commit-uv-action"
version = "0.0.1"
description = "GitHub Action to run pre-commit with uv"
readme = "README.md"
requires-python = ">=3.8"
license = {text = "MIT"}

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
